@font-face {
  font-family: "DOSGothic";
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff") format("woff");
  font-style: normal;
}
body {
  font-family: "DOSGothic";
  font-size: 16px;
  color: #111;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.window {
  width: 500px;
  height: 400px;
  position: relative;
  margin: 100px auto;
  background-color: #999;
}
.window .menu {
  display: flex;
  align-items: center;
  width: 100%;
  height: 15px;
  position: relative;
  background-color: #eee;
}
.window .menu button {
  position: absolute;
  padding: 0 3px;
  border: solid 1px #111;
  background-color: #eee;
}
.window .menu button.close {
  left: 0;
  padding: 0;
}
.window .menu button.close .material-icons {
  font-size: 12px;
}
.window .menu button.info {
  right: 0;
}
.window .menu .pattern span {
  display: block;
  width: 500px;
  height: 1px;
  background-color: #111;
}
.window .menu .pattern span:not(:last-child) {
  margin-bottom: 2px;
}

.rule {
  position: absolute;
  right: 0;
  width: 300px;
  padding: 10px;
  border: 1px solid #111;
  background: #fff;
  display: none;
}
.rule.on {
  display: block;
}

#com {
  margin-top: 50px;
  width: 100%;
}
#com ul {
  display: flex;
  justify-content: center;
}
#com ul li img {
  width: 100%;
}

#player {
  margin-top: 50px;
}
#player ul {
  display: flex;
  justify-content: center;
}
#player ul li {
  margin: 0 10px;
}
#player ul li.not {
  pointer-events: none;
}
#player ul li img {
  width: 80px;
}

#result {
  position: absolute;
  bottom: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#result ul {
  display: flex;
  justify-content: center;
}
#result ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  margin: 0 5px;
  padding: 5px;
  font-weight: 700;
  border-radius: 100%;
}
#result ul li.win {
  background-color: rgb(130, 188, 255);
  box-shadow: 3px 3px 3px 0px #000000, inset 4px 4px 15px 0px #000000, 1px 20px 27px 48px rgba(0, 0, 0, 0);
}
#result ul li.lose {
  background-color: rgb(255, 130, 130);
  box-shadow: 3px 3px 3px 0px #000000, inset 4px 4px 15px 0px #000000, 1px 20px 27px 48px rgba(0, 0, 0, 0);
}
#result ul li.draw {
  background-color: rgb(145, 255, 130);
  box-shadow: 3px 3px 3px 0px #000000, inset 4px 4px 15px 0px #000000, 1px 20px 27px 48px rgba(0, 0, 0, 0);
}

#cover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.8);
}
#cover.on {
  opacity: 1;
  transition: all 0.3s 0.5s ease;
  pointer-events: auto;
}
#cover li {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
#cover button {
  overflow: hidden;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  background: none;
  box-shadow: 0 15px 0 #cc8500;
  background-color: rgb(255, 166, 0);
  border-radius: 5px;
}
#cover button:active {
  transform: translateY(15px);
  box-shadow: none;
}