@import "vars";
@import "mixin";
@font-face {
  font-family: "DOSGothic";
  font-weight: normal;
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff") format("woff");
  font-style: normal;
}
body {
  font-family: "DOSGothic";
  font-size: $font-normal;
  color: #111;
  background-color: #000;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  font-family: inherit;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.window {
  width: 500px;
  height: 400px;
  position: relative;
  margin: 100px auto;
  background-color: #999;
  .menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 15px;
    position: relative;
    background-color: #eee;
    button {
      position: absolute;
      padding: 0 3px;
      border: solid 1px #111;
      background-color: #eee;
      &.close {
        left: 0;
        padding: 0;
        .material-icons {
          font-size: 12px;
        }
      }
      &.info {
        right: 0;
      }
    }
    .pattern {
      span {
        display: block;
        width: 500px;
        height: 1px;
        background-color: #111;
        &:not(:last-child) {
          margin-bottom: 2px;
        }
      }
    }
  }
}
.rule {
  position: absolute;
  right: 0;
  width: 300px;
  padding: 10px;
  border: 1px solid #111;
  background: #fff;
  display: none;
  &.on {
    display: block;
  }
}
#com {
  margin-top: 50px;
  width: 100%;
  ul {
    display: flex;
    justify-content: center;
    li {
      img {
        width: 100%;
      }
    }
  }
}
#player {
  margin-top: 50px;
  ul {
    display: flex;
    justify-content: center;
    li {
      margin: 0 10px;
      &.not {
        pointer-events: none;
      }
      img {
        width: 80px;
      }
    }
  }
}
#result {
  position: absolute;
  bottom: 30px;
  @include absCenter(true, false);
  ul {
    display: flex;
    justify-content: center;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      margin: 0 5px;
      padding: 5px;
      font-weight: 700;
      border-radius: 100%;
      &.win {
        background-color: rgb(130, 188, 255);
        box-shadow: 3px 3px 3px 0px #000000, inset 4px 4px 15px 0px #000000, 1px 20px 27px 48px rgba(0, 0, 0, 0);
      }
      &.lose {
        background-color: rgb(255, 130, 130);
        box-shadow: 3px 3px 3px 0px #000000, inset 4px 4px 15px 0px #000000, 1px 20px 27px 48px rgba(0, 0, 0, 0);
      }
      &.draw {
        background-color: rgb(145, 255, 130);
        box-shadow: 3px 3px 3px 0px #000000, inset 4px 4px 15px 0px #000000, 1px 20px 27px 48px rgba(0, 0, 0, 0);
      }
    }
  }
}
#cover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.8);
  &.on {
    opacity: 1;
    transition: all 0.3s 0.5s ease;
    pointer-events: auto;
  }
  li {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
  button {
    overflow: hidden;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    background: none;
    box-shadow: 0 15px 0 darken(rgb(255, 166, 0), 10);
    background-color: rgb(255, 166, 0);
    border-radius: 5px;
    &:active {
      transform: translateY(15px);
      box-shadow: none;
    }
  }
}
